    body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:20px;
    padding:20;
    background-color:cornsilk;
}
h1 {
    text-align:center;
    color:black;

}

form {
    max-width:600px;
    margin:auto;
    background-color:aliceblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

fieldset {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

legend {
    font-weight:bold;
    text-align: left;
    color:black;
}

label {
    display: block;
    margin-top: 10px;
    color: black;
}

input,textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius:4px;
    box-sizing: border-box;
}

button {
    display: block;
    width:100px;
    padding:1opx;
    background-color:white;
    color:black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

button:hover {
    background-color:antiquewhite

}

.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid #3498bd;
    box-shadow: 0 4px 8px rgba(11, 7, 211, 0.5);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}